{% extends "base.html" %}


{% block content %}
    <head>
        <title>New Blog Entry</title>
    </head>
    <body>
        <h1>New Blog Entry</h1>
        <hr>
        <form method="post">
            <label>
                <div>Title</div> <input type="text" name="title" value="">
            </label>
            <label>
                <div>Blog</div>
                <textarea name="entry"></textarea>
            </label>
            <div class="error">{{error}}</div>
            <input type="submit">
        </form>

      </body>
{% endblock %}
